<%- include header.ejs %>

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
      
      
      <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
      <li><label>Foundation</label></li>
      <li><a href="#">The Psychohistorians</a></li>
      <li><a href="#">...</a></li>
    </ul>
    </aside>
    
    <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
    </section>
    
        <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Users</label></li>
        <li><a href="#">Hari Seldon</a></li>
        <li><a href="#">...</a></li>
      </ul>
    </aside>
    
    </nav>
  </div>
</div>
