<%- include editorheading.ejs %>

    <div class="row">
        <div class="large-6 large-centered columns">
          <br>
          <h4 class="">Welcome to Project Unknown</h4>
          <p id="blackText">Thanks for using Project Unknown Editor</p>
          <p id="blackText">Easily manage the items in the database using a simple interface</p>
          <p id="blackText">Using the navigation in the top right, you can easily add, update, and delete a asteroid from the database.</p>
        </div>
        <br></br>
        <div class="small-6 large-centered columns">
              
            <div class="row collapse">
                <div class="large-8 small-center columns">
                    <form action="/processAdminSearch" method="POST">
                        <input type="text" name="name" placeholder="Find asteroid" style="height: 51px;">
                    </div>
                    <div class="large-4 small-3 columns">
                         <input type="submit" class="button" value="Search"/>
                    </form>
                </div>
          </div>
      </div>

  

<%- include editorfooter.ejs %>