<!doctype html>
<html class="no-js" lang="en" ng-app='space'>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Unknown</title>
    <link href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r11/Stats.min.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>

</head>
<body>
    
    <div ng-controller='signed'>
    
       <div class="fixed">
        <nav class="top-bar" data-topbar="" role="navigation" data-options="sticky_on: large">
            <ul class="title-area">
                <!-- Title Area -->
                <li class="name">
                    <h1><a href="/">Project Unknown</a></h1>
                </li>
                
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

            </ul>
            
     <section class="middle tab-bar-section">
       
      </section>

            
            <!-- Right Nav Bar Section -->
            <section class="top-bar-section" ng-switch on="loginData">
                <!-- Search Section -->
                <ul>
                    <li class="has-form">

                    <div class="row collapse">
                        <div class="large-8 small-center columns ">
                        <form action="/processSearch" method="POST">
                          <input type="text" name="name" placeholder="Find asteroid">
                        </div>
                    <div class="large-4 small-3 columns">
                         <input type="submit" class="button" value="Search"/>
                        </form>
                    </div>
                  </div>
                </li>
            </ul>
                
                <ul class="right" ng-switch-when="false" >
                    <li> <a href="#" class="btnx" data-reveal-id="myModal">Login Or Register</a> </li>
                </ul>
                
                <ul class="right" ng-switch-when="true">
                     <li> <a href="/nasa">Asteroids API</a></li>
                     <li> <a href="#"  class="btnx" ng-click="logOut()" >Logout</a> </li>
                     <li> <a href="/profile" >Profile</a> </li>
                     <li> <a href="/profile"><img class='profilePic' src='{{image}}'></a> </li>
                </ul>
                
            </section>
        </nav>
    </div>
    
    <div id="myModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" >
    
            <div class="large-12 medium-12 small-12 columns" id="mod"  >
                <ul>
                    <li>
                         <a href="#" class="button1"ng-click="signer()"><span>✓</span>Facebook Login</a>
                    </li>
                    <li>
                        
                    </li>
                </ul>
            </div>
    
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    
</div>
