<%- include header.ejs %>



<div class="row" ng-controller='profile'>
    <div class="large-7 medium-7 columns" id='profile' >

        <img class='rcorners1 profileR' src="{{image}}">
        <h1 class="text-center">{{name}}</h1>
        
    </div>

</div>





<%- include footer.ejs %>